@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  font-family: Lato, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/******* DISABLING BLUE TAP ON MOBILE  ******/

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/******* Animations  ******/

.animate-zoom {
  animation: ping 0.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation: ping 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.animate-popup {
  animation: popup 0.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation: popup 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/******* LOADER CSS  ******/
.loading-container {
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 200;
}

/******* KEYFRAMES  ******/

@keyframes ping {
  0%,
  50% {
    transform: scale(0.5);
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  75%,
  100% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes popup {
  0%,
  50% {
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  75%,
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
