@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Lato, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.animate-zoom {
  animation: ping 0.2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation: ping 0.2s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ping {
  0%,
  50% {
    transform: scale(0.5);
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  75%,
  100% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
